Assignment2/src/item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" maxOccurs="1" type="xs:string"/>
                <xs:element name="descripion" maxOccurs="1" minOccurs="1" type="xs:string"/>              
            </xs:sequence>
        </xs:complexType>
    </xs:element> 
</xs:schema>
