Webprogrammierung/Assignment1Web/MySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Autoren: Münsterberg, Enno; Albers, Julia; Ioannidis, Niko -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">    
    <xs:element name="Hochschule">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence>
    <!-- Element fuer Hochschule: Labor -->                
                    <xs:element name="Labor" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                    <!-- Elemente fuer Labor: Rechner -->
                                <xs:element name="Rechner" minOccurs="1" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                <!-- Elemente fuer Rechner: Beschreibung -->
                                            <xs:element name="Beschreibung" minOccurs="1" maxOccurs="1">
                                                <xs:complexType mixed="true">
                                                    <xs:sequence>
                                                        <xs:element name="Hersteller" minOccurs="1" maxOccurs="unbounded"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                <!-- Element fuer Rechner: Erweiterung -->
                                            <xs:element name="Erweiterung" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:all>
                                            <!-- Element fuer Erweiterungen: Beschreibung -->
                                                        <xs:element name="Beschreibung" minOccurs="1">
                                                            <xs:complexType mixed="true">
                                                                <xs:sequence>
                                                                    <xs:element name="Hersteller" minOccurs="1" maxOccurs="unbounded"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                            <!-- Element fuer Erweiterungen: Besonderheiten -->            
                                                        <xs:element name="Besonderheiten" type="xs:string" minOccurs="0"/>
                                                    </xs:all>    
                                                </xs:complexType>
                                            </xs:element>
                                <!-- Element fuer Rechner: Besonderheiten -->                
                                            <xs:element name="Besonderheiten" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <!-- Element fuer Rechner: Installierte_Software -->            
                                            <xs:element name="Installierte_Software" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:sequence>
                                            <!-- Element fuer Installierte_Software: Software -->            
                                                        <xs:element name="Software" minOccurs="1" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                        <!-- Attribute fuer Software -->        
                                                                <xs:attribute name="ID" type="xs:IDREF" use="required"/>
                                                                <xs:attribute name="Lizenzvorhanden" type="xs:boolean" use="required"/>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                <!-- Attribute fuer Rechner -->        
                                        <xs:attribute name="Rechner_ID" type="xs:ID" use="required"/>
                                        <xs:attribute name="Betriebssystem" type="xs:IDREF" use="required"/>
                                        <xs:attribute name="Anschaffungsdatum" type="xs:date" use="required"/>
                                    </xs:complexType>
                                </xs:element>
                    <!-- Element fuer Labor: Geraet -->
                                <xs:element name="Geraet" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                <!-- Elemente fuer Geraet: Beschreibung, Besonderheiten -->
                                            <xs:element name="Beschreibung" minOccurs="1" maxOccurs="1">
                                                <xs:complexType mixed="true">
                                                    <xs:sequence>
                                                        <xs:element name="Hersteller" minOccurs="1" maxOccurs="unbounded"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Besonderheiten" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        </xs:sequence>
                                <!-- Attribute fuer Geraet -->
                                        <xs:attribute name="Geraete_ID" type="xs:ID" use="required"/>
                                        <xs:attribute name="Anschaffungsdatum" type="xs:date" use="required"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                    <!-- Attribute fuer Labor -->
                            <xs:attribute name="Raum_Nr" type="xs:ID" use="required"/>
                            <xs:attribute name="Name" type="xs:string" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
    <!-- Element Software fuer Hochschule -->            
                <xs:element name="Software" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:all>
                <!-- Element Betriebssysteme fuer Software -->
                            <xs:element name="Betriebssysteme"  minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                            <!-- Element Betriebssystem fuer Betriebssysteme -->            
                                        <xs:element name="Betriebssystem" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:all>
                                        <!-- Element Beschreibung, Besonderheiten fuer Betriebssystem -->            
                                                    <xs:element name="Beschreibung" minOccurs="1">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence>
                                                                <xs:element name="Hersteller" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Besonderheiten" minOccurs="0" type="xs:string"/>
                                                </xs:all>
                                        <!-- Attribute fuer Betriebssystem -->        
                                                <xs:attribute name="Name" type="xs:string" use="required"/>
                                                <xs:attribute name="ID" type="xs:ID" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                <!-- Element Anwendungen fuer Software -->            
                            <xs:element name="Anwendungen" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                            <!-- Element Anwendung fuer Anwendungen -->            
                                        <xs:element name="Anwendung" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:all>
                                        <!-- Element Beschreibung, Besonderheiten fuer Anwendunge -->            
                                                    <xs:element name="Beschreibung" minOccurs="1">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence>
                                                                <xs:element name="Hersteller" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Besonderheiten" minOccurs="0" type="xs:string"/>
                                                </xs:all>
                                        <!-- Attribute fuer Anwendung -->       
                                                <xs:attribute name="Name" type="xs:string" use="required"/>
                                                <xs:attribute name="ID" type="xs:ID" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>   
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
